# Mac filesystem dust
.DS_Store/
.DS_Store

# Linux temp files
*~

# vim
.*.sw[a-p]

# IntelliJ
*.iml
.idea

!.idea/codeStyles
!.idea/runConfigurations

# Gradle
!gradle/wrapper/gradle-wrapper.jar
.gradle
build

# Floodgate
/core/src/main/resources/languages/
