name: Build Pull Request

on: [ pull_request ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 1.8
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '8'
          cache: 'gradle'

      - name: Build with Maven
        run: ./gradlew build

      - name: Archive artifacts (Floodgate Bungee)
        uses: actions/upload-artifact@v2
        if: success()
        with:
          name: Floodgate Bungee
          path: bungee/build/libs/connect-bungee.jar

      - name: Archive artifacts (Floodgate Spigot)
        uses: actions/upload-artifact@v2
        if: success()
        with:
          name: Floodgate Spigot
          path: spigot/build/libs/connect-spigot.jar

      - name: Archive artifacts (Floodgate Velocity)
        uses: actions/upload-artifact@v2
        if: success()
        with:
          name: Floodgate Velocity
          path: velocity/build/libs/connect-velocity.jar